@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/* html */
html {
    scroll-behavior: initial;
}

/* All */
* {
    font-family: 'Readex Pro', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    user-select: none;
}

/* Body */
body {
    background: rgb(59, 59, 59);
    color: white;
}


/* Unknow Effects */
.full_Screen_Img_Div {
    background: linear-gradient(to top, rgb(103, 103, 103) 50%, rgb(56, 56, 56) 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_Screen_Img_Div img {
    width: auto;
    height: 85%;
    max-width: 95%;
    z-index: 999;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}


.full_Screen_Vid_Div {
    background: rgb(40, 40, 40);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.full_Screen_Vid_Div video {
    width: auto;
    height: 85%;
    max-width: 95%;
    object-fit: contain;
    z-index: 999;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}


.overlay {
    background: rgb(40, 40, 40);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.dispaly_None_Class {
    display: none;
}








/* Header */
header {
    position: fixed;
    z-index: 996;
    width: 100%;
    padding: 0 0 10px 0;
    display: flex;
    transition: all 0.3s ease-in-out;
}

#header_Info {
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#web_Title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 0);
    width: 100%;
    padding: 10px 10px 20px 10px;
    font-size: 25px;
    cursor: default;
}

#header_Nav {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#header_Nav a,
#other_Services_Div h1,
#get_My_Location_Btn,
#my_Location_Link,
#how_To_Book_Driver,
#comments_Page,
#custom_Cards_Title,
.custom_Card_Box_Options h1,
#refresh_All_Cards_Btn,
.villa_Details_Text_Contact_Us,
.other_Services_Contact_Us,
#go_Back_Villa_Details,
#go_Back_Card,
#show_Villa_Video_Btn,
.exit_Full_Screen_Btn {
    background: rgb(41, 38, 38);
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#header_Nav a:hover,
#other_Services_Div h1:hover,
#get_My_Location_Btn:hover,
#my_Location_Link:hover,
#how_To_Book_Driver:hover,
#comments_Page:hover,
#custom_Cards_Title:hover,
.custom_Card_Box_Options h1:hover,
#refresh_All_Cards_Btn:hover,
.villa_Details_Text_Contact_Us:hover,
.other_Services_Contact_Us:hover,
#go_Back_Villa_Details:hover,
#go_Back_Card:hover,
#show_Villa_Video_Btn:hover,
.exit_Full_Screen_Btn:hover {
    background: rgb(77, 66, 66);
    color: white;
    transform: scale(1.03);
}

#header_Nav a {
    margin: 5px;
}

#go_Back_Card {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 996;
    border: 1px solid orange;
    box-shadow: 0px 0px 10px 1px white;
}


.exit_Full_Screen_Btn {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
    padding: 8px 14px;
    border: 1px solid orange;
    box-shadow: 0px 0px 10px 1px white;
    width: fit-content;
    text-align: center;
}

#go_Back_Villa_Details {
    font-size: 15px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    padding: 8px 14px;
    border: 1px solid orange;
    box-shadow: 0px 0px 10px 1px white;
    transition: opacity 0.3s ease;
}

#submit_Custom_Cards_Btn{
    transition: opacity 0.3s ease;
}



/* Black Background Color */
header,
#other_Services_Title h1,
#other_services_Page_Title,
.intro_Area,
#choose_Areas,
#refresh_All_Cards_Btn,
#villa_Details_Title h1,
.villa_Details_Text_Contact_Us,
.villa_Details_Villa_Pass,
#show_Villa_Video_Btn,
#big_Img_Title,
#other_Services_Div h1,
#comments_Page,
.exit_Full_Screen_Btn, #go_Back_Villa_Details, .custom_Card_Box_Title h1, .custom_Card_Box_Options h1 {
    background: black;
}






/* Introduction */
#sec1 {
    display: flex;
    justify-content: center;
    padding: 170px 0 0 0;
    min-height: 100px;
}

#sec1_Intro {
    direction: rtl;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#sec1_Web_Intro {
    direction: rtl;
    min-height: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#sec1_Web_Intro h1 {
    font-size: 20px;
    cursor: default;
    margin-bottom: 20px;
}

.web_Icon {
    font-size: 120px;
    padding: 10px 0;
}


/* Other Services */
#sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#other_Services_Title h1,
#other_services_Page_Title {
    font-size: 25px;
    padding: 10px 16px;
    color: rgb(0, 255, 0);
    cursor: default;
    box-shadow: 0px 0px 3px 1px white;
    border-radius: 30px;
}

#sec2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#other_Services_Div h1 {
    padding: 10px 16px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#other_services_Page_Title {
    font-size: 30px;
    margin: 5px;
}

.other_Services_Contact_Us {
    font-size: 15px;
    padding: 8px 14px;
    margin: 10px 0;
    color: rgb(0, 255, 0);
}

#find_My_Location_Div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#find_My_Location_Box {
    background: rgb(80, 80, 80);
    width: 90%;
    padding: 50px 10px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#get_My_Location_Div {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#how_To_Book_Driver {
    font-size: 18px;
    padding: 6px 12px;
    margin: 5px 0 10px 0
}

#get_My_Location_Btn {
    font-size: 20px;
    padding: 10px 16px;
}

#your_Location_Text {
    font-size: 20px;
    cursor: default;
}

#my_Location_Link {
    padding: 10px 16px;
    font-size: 20px;
    color: rgb(0, 255, 0);
}


/* Customers Comments */
#sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 20px;
}

#sec3_Intro {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec3_Intro h1 {
    font-size: 20px;
}

#sec3_Icon {
    font-size: 150px;
    margin: 10px;
}

#comments_Page_Div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#comments_Page {
    font-size: 20px;
    padding: 12px 18px;
}



/* Choose Your Area */
#sec4 {
    padding: 70px 0;
    transition: all 0.5s ease;
}

#sec4_Content {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sec4_Content div {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#sec4_Content div a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 14px 18px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px black;
    transition: all 0.3s ease;
}

#sec4_Content div a:hover {
    transform: scale(1.03);
}



/* All Villa Cards */
#sec2,
#sec5 {
    direction: rtl;
}

.intro_Area {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_Area h1,
#choose_Areas, .custom_Card_Box_Title h1 {
    text-align: center;
    font-size: 30px;
    padding: 10px 16px;
    color: rgb(0, 255, 0);
    cursor: default;
    border: 1px solid white;
    box-shadow: 0px 0px 3px 1px white;
    border-radius: 30px;
}

#all_Cards_Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.villa_Area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
}

#custom_Cards_Title {
    font-size: 20px;
    padding: 10px 16px;
}

#all_Custom_Sec {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.custom_Card_Box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 20px;
    width: 250px;
}


.custom_Card_Box_Title{
    display: flex;
    justify-content: center;
}

.custom_Card_Box_Title h1{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 8px 14px;
    width: fit-content;
}

.custom_Card_Box_Options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom_Card_Box_Options h1{
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 12px;
    width: fit-content;
}

#refresh_All_Cards_Btn {
    color: orange;
    font-size: 18px;
    padding: 8px 14px;
    margin-top: 10px;
}

#no_Cards_Found_Div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#no_Cards_Found_h1 {
    color: red;
    padding: 30px;
    font-size: 20px;
}

.villa_Card {
    direction: ltr;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 340px;
    border: 1px solid white;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px black;
    transition: all 0.2s ease;
}

.villa_Card:hover {
    transform: scale(1.03);
}

.villa_Card img {
    width: 50%;
}

.villa_Info {
    min-height: 280px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.villa_Info h1 {
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
}

.price {
    color: rgb(0, 255, 0);
}

.villa_id,
.villa_Details_Text_Villa_Id {
    color: orange;
}

.villa_id,
.villa_Details_Villa_Pass {
    background: rgb(41, 38, 38);
    border: 1px solid white;
    border-radius: 50px;
    font-size: 14px;
    padding: 4px 8px;
}



/* Villa Details */
#villa_Details_Area {
    direction: rtl;
}

.villa_Details_Card {
    background: yellow;
    display: flex;
    flex-direction: column;
}

#villa_Details_Title {
    background: rgb(90, 90, 90);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#villa_Details_Title h1 {
    color: rgb(0, 255, 0);
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px white;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 20px;
}

#villa_Details_Topic {
    display: flex;
    justify-content: space-around;
    border: 5px solid rgb(40, 40, 40);
}

#villa_Details_Location {
    background: rgb(40, 40, 40);
    width: 40%;
    padding: 20px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#villa_Details_Location h1 {
    font-size: 15px;
    margin-bottom: 15px;
}

#villa_Details_Description {
    background: rgb(59, 59, 59);
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#villa_Details_Description h1 {
    font-size: 15px;
    line-height: 1.8;
}

#villa_Details_Video {
    background: rgb(40, 40, 40);
    width: 40%;
    padding: 20px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact_For_More_Info_Btn {
    text-decoration: none;
    color: orange;
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
}

.Contact_For_More_Info_Btn:hover {
    color: white;
}

.villa_Details_Text_Contact_Us,
.villa_Details_Villa_Pass,
#show_Villa_Video_Btn {
    padding: 6px 12px;
}

.villa_Details_Text_Contact_Us,
#show_Villa_Video_Btn {
    padding: 10px 20px;
}

#big_Img_Title {
    margin-bottom: 20px;
    text-decoration: none;
    padding: 8px 14px;
    font-size: 20px;
    color: rgb(0, 255, 0);
    border: 1px solid white;
    border-radius: 30px;
    cursor: default;
    box-shadow: 0px 0px 5px 1px white;
}

#big_Img_Div {
    background: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#big_Img_Div img {
    background: green;
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
    cursor: pointer;
}



/* Media Queries */
/* 1600px */
@media(max-width:1600px) {
    #big_Img_Div img {
        width: 25%;
    }
}




/* 1380px */
@media(max-width:1380px) {
    #big_Img_Div img {
        width: 28%;
    }

    #sec4_Content div {
        width: 50%;
    }
}


/* 1180px */
@media(max-width:1180px) {
    .villa_Card {
        width: 300px;
    }

    .villa_Info {
        min-height: 220px;
    }

    .villa_Info h1 {
        font-size: 13px;
    }

    .villa_id {
        font-size: 11px;
    }
}



/* 1050px */
@media(max-width:1050px) {
    #big_Img_Div img {
        width: 32%;
    }

    .custom_Card_Box {
        width: 200px;
    }

    .custom_Card_Box_Title h1{
        font-size: 18px;
        padding: 6px 12px;
    }

    .custom_Card_Box_Options h1{
        font-size: 13px;
        padding: 6px 10px;
    }

    .villa_Card {
        width: 250px;
    }

    .villa_Info {
        min-height: 190px;
    }

    .villa_Info h1 {
        font-size: 11px;
    }

    .villa_id {
        font-size: 9px;
    }
}


/* 1025px */
@media(max-width:1025px) {
    .intro_Area h1 {
        font-size: 25px;
    }

    #sec4_Content div {
        width: 60%;
    }
}


/* 940px */
@media(max-width:940px) {
    #big_Img_Div img {
        width: 40%;
    }

    #villa_Details_Title h1 {
        padding: 6px 12px;
        font-size: 16px;
    }

    #villa_Details_Location h1 {
        font-size: 13px;
    }

    #villa_Details_Description h1 {
        font-size: 13px;
    }

    .Contact_For_More_Info_Btn {
        font-size: 13px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 14px;
        padding: 5px 10px;
    }

    #big_Img_Title {
        padding: 6px 12px;
        font-size: 16px;
    }
}



/* 839px */
@media(max-width:839px) {
    .villa_Card {
        width: 220px;
    }

    .villa_Info {
        min-height: 150px;
    }

    .villa_Info h1 {
        font-size: 9px;
    }

    .villa_id {
        font-size: 7px;
    }
}


/* 800px */
@media(max-width:800px) {
    #header_Nav a {
        font-size: 15px;
    }

    #sec1 {
        padding: 160px 0 0 0;
    }

    #villa_Details_Title h1 {
        padding: 5px 10px;
        font-size: 14px;
    }

    #villa_Details_Location h1 {
        font-size: 11px;
    }

    #villa_Details_Description h1 {
        font-size: 11px;
    }

    .Contact_For_More_Info_Btn {
        font-size: 11px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 12px;
    }

    .villa_Details_Villa_Pass {
        padding: 5px 10px;
    }

    #big_Img_Div img {
        width: 45%;
    }
}



/* 750px */
@media(max-width:750px) {
    #big_Img_Div img {
        width: 50%;
    }

    #header_Nav a {
        font-size: 12px;
    }

    #sec1 {
        padding: 150px 0 0 0;
    }

    #go_Back_Card {
        font-size: 13px;
        padding: 4px 8px;
    }

    #custom_Cards_Title {
        font-size: 17px;
        padding: 8px 14px;
    }

    .custom_Card_Box {
        width: 150px;
    }

    .custom_Card_Box_Title h1{
        font-size: 16px;
        padding: 5px 10px;
    }

    .custom_Card_Box_Options h1{
        font-size: 12px;
        padding: 5px 8px;
    }

    #refresh_All_Cards_Btn {
        font-size: 15px;
        padding: 6px 12px;
    }

    .villa_Card {
        width: 250px;
    }

    .villa_Info {
        min-height: 170px;
    }

    .villa_Info h1 {
        font-size: 11px;
    }

    .villa_id {
        font-size: 9px;
    }

    #villa_Details_Title h1 {
        font-size: 12px;
    }

    #villa_Details_Location h1 {
        font-size: 11px;
    }

    #villa_Details_Description h1 {
        font-size: 11px;
    }

    .Contact_For_More_Info_Btn {
        font-size: 11px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 10px;
    }
}


/* 600px */
@media(max-width:600px) {
    #big_Img_Div img {
        width: 55%;
    }

    #header_Info h1 {
        font-size: 19px;
    }

    #go_Back_Card {
        font-size: 12px;
    }

    #sec1 {
        padding: 140px 0 0 0;
    }

    .web_Icon {
        font-size: 90px;
    }

    #other_Services_Title h1 {
        font-size: 20px;
        padding: 8px 14px;
    }

    #other_Services_Div h1 {
        font-size: 15px;
        padding: 8px 14px;
        margin: 0 10px;
    }

    #other_services_Page_Title {
        font-size: 20px;
    }

    .other_Services_Contact_Us {
        font-size: 12px;
        padding: 6px 12px;
    }

    #how_To_Book_Driver {
        font-size: 15px;
        padding: 5px 10px;
    }

    #get_My_Location_Btn {
        font-size: 15px;
        padding: 8px 14px;
    }

    #your_Location_Text {
        font-size: 15px;
    }

    #my_Location_Link {
        padding: 8px 14px;
        font-size: 16px;
    }

    #sec3 {
        height: 270px;
    }

    #sec3_Intro h1 {
        font-size: 15px;
    }

    #sec3_Icon {
        font-size: 120px;
    }

    #comments_Page {
        font-size: 17px;
        padding: 10px 16px;
    }

    .exit_Full_Screen_Btn {
        font-size: 15px;
        padding: 6px 12px;
    }

    #sec4 {
        padding: 40px 0;
    }

    #sec4_Content div a {
        font-size: 18px;
    }

    #choose_Areas {
        font-size: 27px;
    }


    #sec4_Content {
        height: 150px;
    }

    .intro_Area h1 {
        font-size: 23px;
    }

    #no_Cards_Found_h1 {
        padding: 25px;
        font-size: 17px;
    }

    .villa_Card {
        width: 220px;
    }

    .villa_Info {
        min-height: 150px;
    }

    .villa_Info h1 {
        font-size: 9px;
    }

    .villa_id {
        font-size: 7px;
    }

    #sec4_Content div {
        width: 70%;
    }

    #villa_Details_Title h1 {
        font-size: 10px;
    }

    #villa_Details_Location h1 {
        font-size: 9px;
    }

    #villa_Details_Description h1 {
        font-size: 10px;
        line-height: 1.6;
    }

    .Contact_For_More_Info_Btn {
        font-size: 9px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 8px;
    }

    .villa_Details_Villa_Pass {
        padding: 4px 8px;
    }
}



/* 534px */
@media(max-width:534px) {
    #sec1_Web_Intro h1 {
        font-size: 15px;
        margin-bottom: 15px;
    }
}



/* 523px */
@media(max-width:523px) {
    #sec1 {
        padding: 180px 0 0 0;
    }
}




/* 504px */
@media(max-width:504px) {
    #big_Img_Div img {
        width: 60%;
    }

    #other_Services_Title h1 {
        font-size: 15px;
        padding: 8px 14px;
    }

    #other_Services_Div h1 {
        font-size: 12px;
        padding: 6px 12px;
        margin: 0 5px;
    }

    #custom_Cards_Title {
        font-size: 15px;
        padding: 6px 12px;
    }

    #refresh_All_Cards_Btn {
        font-size: 13px;
        padding: 5px 10px;
    }

    .villa_Card {
        width: 250px;
    }

    .villa_Info {
        min-height: 180px;
    }

    .villa_Info h1 {
        font-size: 11px;
    }

    .villa_id {
        font-size: 9px;
    }
}



/* 465px */
@media(max-width:465px) {
    #header_Nav {
        padding: 0 10px;
    }

    #header_Nav a {
        font-size: 9px;
    }

    #go_Back_Card {
        font-size: 10px;
    }

    #sec1 {
        padding: 120px 0 0 0;
    }

    #other_Services_Div {
        display: flex;
        flex-wrap: wrap;
    }

    #other_Services_Div h1 {
        margin: 5px;
    }

    #all_Comments_Info {
        padding: 90px 0 40px 0;
    }

    #choose_Areas {
        font-size: 25px;
        padding: 8px 14px;
    }

    #sec4_Content div {
        width: 80%;
    }

    #sec4_Content div a {
        font-size: 17px;
        padding: 10px 14px;
    }

    .intro_Area h1 {
        font-size: 20px;
        padding: 8px 14px;
    }

    #no_Cards_Found_h1 {
        padding: 20px;
        font-size: 15px;
    }

    #villa_Details_Title h1 {
        font-size: 9px;
    }

    #villa_Details_Location h1 {
        font-size: 8px;
    }

    #villa_Details_Description h1 {
        font-size: 9px;
    }

    .Contact_For_More_Info_Btn {
        font-size: 8px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 7px;
    }

    #go_Back_Villa_Details {
        font-size: 12px;
        padding: 5px 10px;
    }
}



/* 447px */
@media(max-width:447px) {
    #sec1 {
        padding: 150px 0 0 0;
    }

    .custom_Card_Box {
        width: 140px;
    }

    .custom_Card_Box_Title h1{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .custom_Card_Box_Options h1{
        font-size: 11px;
        margin-bottom: 7px;
    }
}



/* 410px */
@media(max-width:410px) {
    #big_Img_Div img {
        width: 65%;
    }

    #sec1_Web_Intro h1 {
        font-size: 13px;
        margin-bottom: 13px;
    }

    .web_Icon {
        font-size: 70px;
    }

    #sec3 {
        height: 230px;
    }

    #sec3_Icon {
        font-size: 90px;
    }

    #comments_Page {
        font-size: 15px;
        padding: 8px 14px;
    }

    .exit_Full_Screen_Btn {
        font-size: 14px;
        padding: 5px 10px;
    }

    .intro_Area h1 {
        font-size: 16px;
        padding: 6px 12px;
    }
}



/* 387px */
@media(max-width:387px) {
    #big_Img_Div img {
        width: 70%;
    }

    #sec3_Intro h1 {
        font-size: 13px;
    }

    #no_Cards_Found_h1 {
        padding: 15px;
        font-size: 13px;
    }

    #villa_Details_Title h1 {
        font-size: 8px;
    }

    #villa_Details_Location h1 {
        font-size: 7px;
    }

    #villa_Details_Description h1 {
        font-size: 8px;
    }

    .Contact_For_More_Info_Btn {
        font-size: 7px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 6px;
        padding: 4px 8px;
    }
}





/* 350px */
@media(max-width:350px) {
    #header_Nav a {
        font-size: 7px;
    }

    #go_Back_Card {
        font-size: 8px;
    }

    #sec1_Web_Intro h1 {
        font-size: 10px;
    }

    .web_Icon {
        font-size: 50px;
    }

    #sec3_Intro h1 {
        font-size: 11px;
    }

    #other_Services_Title h1 {
        font-size: 13px;
        padding: 6px 12px;
    }

    #other_Services_Div h1 {
        font-size: 10px;
        padding: 5px 10px;
    }

    #other_services_Page_Title {
        font-size: 17px;
    }

    .other_Services_Contact_Us {
        font-size: 10px;
        padding: 5px 10px;
    }

    #how_To_Book_Driver {
        font-size: 12px;
    }

    #get_My_Location_Btn {
        font-size: 12px;
    }

    #your_Location_Text {
        font-size: 12px;
    }

    #my_Location_Link {
        padding: 6px 12px;
        font-size: 13px;
    }

    #sec3 {
        height: 220px;
    }

    #sec4_Content {
        height: 120px;
    }

    #sec4_Content div a {
        font-size: 13px;
        padding: 6px 12px;
    }

    #comments_Page {
        font-size: 13px;
        padding: 6px 12px;
    }

    #choose_Areas {
        font-size: 20px;
    }

    .custom_Card_Box {
        width: 120px;
    }

    .custom_Card_Box_Title h1{
        font-size: 12px;
    }

    .custom_Card_Box_Options h1{
        font-size: 10px;
    }

    #no_Cards_Found_h1 {
        font-size: 11px;
    }

    .intro_Area h1 {
        font-size: 14px;
        padding: 5px 10px;
    }

    #refresh_All_Cards_Btn {
        font-size: 11px;
    }

    .villa_Card {
        width: 220px;
    }

    .villa_Info {
        min-height: 150px;
    }

    .villa_Info h1 {
        font-size: 9px;
    }

    .villa_id {
        font-size: 7px;
    }

    #go_Back_Villa_Details {
        font-size: 10px;
    }

    .villa_Details_Villa_Pass {
        padding: 3px 6px;
    }
}



/* 320px */
@media(max-width:320px) {
    #sec3_Intro h1 {
        font-size: 9px;
    }

    #sec4_Content {
        height: 90px;
    }

    #choose_Areas {
        font-size: 15px;
    }

    #sec4_Content div a {
        font-size: 11px;
        padding: 5px 10px;
    }

    #other_Services_Title h1 {
        font-size: 12px;
    }

    #other_Services_Div h1 {
        font-size: 9px;
    }

    .intro_Area h1 {
        font-size: 12px;
    }

    #no_Cards_Found_h1 {
        font-size: 10px;
    }

    #villa_Details_Title h1 {
        font-size: 7px;
    }

    #villa_Details_Location h1 {
        font-size: 6px;
    }

    #villa_Details_Description h1 {
        font-size: 7px;
    }

    .villa_Details_Text_Contact_Us,
    #show_Villa_Video_Btn {
        font-size: 5px;
    }
}
